---
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
PointerAlignment: Right
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
SpaceAfterCStyleCast: false
AlignTrailingComments: true
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
ContinuationIndentWidth: 8
...
