type pgovd, domain;
type pgovd_exec, exec_type, vendor_file_type, file_type;
type pgovd_data_file, file_type, data_file_type;
init_daemon_domain(pgovd)
log_domain(pgovd)
get_prop(pgovd, boot_status_prop)
allow pgovd self:capability { sys_nice dac_override dac_read_search sys_resource ipc_lock };
file_type_auto_trans(pgovd, vendor_data_file, pgovd_data_file)
allow pgovd vendor_data_file:dir { rw_dir_perms add_name };
allow pgovd pgovd_data_file:dir rw_dir_perms;
allow pgovd pgovd_data_file:file create_file_perms;
r_dir_file(pgovd, sysfs_thermal)
r_dir_file(pgovd, sysfs_batteryinfo)
r_dir_file(pgovd, sysfs_devices_system_cpu)
allow pgovd proc_sched:dir search;
allow pgovd proc_sched:file rw_file_perms;
allow pgovd proc_pressure_cpu:file rw_file_perms;
allow pgovd proc_self:file rw_file_perms;