on post-fs-data
    mkdir /data/vendor/pgovd 0770 root system

service pgovd /vendor/bin/pgovd
    class main
    user root
    group root system
    capabilities SYS_NICE DAC_OVERRIDE DAC_READ_SEARCH SYS_RESOURCE IPC_LOCK
    disabled

on property:sys.boot_completed=1
    start pgovd